.u-section-1 .u-sheet-1 {
  min-height: 963px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 32px auto 0 30px;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 18px 162px 0 30px;
}

.u-section-1 .u-image-1 {
  width: 244px;
  height: 168px;
  margin: 12px 413px 0 auto;
}

.u-section-1 .u-image-2 {
  width: 433px;
  height: 168px;
  margin: -168px auto 0 16px;
}

.u-section-1 .u-image-3 {
  width: 312px;
  height: 62px;
  margin: -62px 57px 0 auto;
}

.u-section-1 .u-image-4 {
  width: 323px;
  height: 113px;
  margin: -193px 46px 0 auto;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 124px 265px 0 44px;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  margin: 8px 350px 60px 44px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    width: 746px;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 109px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 194px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    width: 720px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    width: 540px;
    font-size: 1rem;
  }

  .u-section-1 .u-image-1 {
    margin-right: 296px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-4 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 927px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 96px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 132px;
    margin-top: -218px;
    margin-left: 0;
  }

  .u-section-1 .u-image-3 {
    margin-top: 150px;
    margin-right: 28px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -217px;
    margin-right: 17px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 142px;
  }
}