.u-section-1 .u-sheet-1 {
  min-height: 425px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 18px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 407px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 293px;
  height: 320px;
  margin: 10px auto 0 63px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  margin: -188px 161px 0 615px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 26px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 336px;
  }

  .u-section-1 .u-image-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-text-1 {
    margin-right: 61px;
    margin-left: 515px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 356px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
    margin-left: 216px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    margin-left: 27px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 16px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 737px;
}

.u-section-2 .u-text-1 {
  margin: 0 0 -29px;
}