.u-section-1 .u-sheet-1 {
  min-height: 425px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 18px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 407px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 235px;
  height: 320px;
  margin: 10px auto 0 84px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  margin: -185px 212px 0 564px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 26px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 360px;
  }

  .u-section-1 .u-image-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-text-1 {
    margin-right: 112px;
    margin-left: 464px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 361px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 21px;
    padding-bottom: 21px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 0;
    margin-left: 60px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -165px;
    margin-right: 2px;
    margin-left: 354px;
    font-size: 1.5rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 221px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 0;
  }

  .u-section-1 .u-image-1 {
    width: 184px;
    height: 250px;
    margin-top: 35px;
    margin-left: 81px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
    width: auto;
    margin-top: -141px;
    margin-right: 0;
    margin-left: 236px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 176px;
  }

  .u-section-1 .u-text-1 {
    margin: 8px 15px -148px 21px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 737px;
}

.u-section-2 .u-text-1 {
  margin: 0 0 -29px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 744px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 27px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1108px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 90px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1676px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 161px;
    margin-bottom: 7px;
  }
}