.u-section-1 .u-sheet-1 {
  min-height: 425px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 18px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 407px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 263px;
  height: 320px;
  margin: 10px auto 0 88px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  margin: -185px 198px 0 578px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 26px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 360px;
  }

  .u-section-1 .u-image-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-text-1 {
    margin-right: 98px;
    margin-left: 478px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 361px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 356px;
    font-size: 1.5rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 248px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 230px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 0 10px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 19px;
    margin-left: 44px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
    width: auto;
    margin-top: -160px;
    margin-right: 10px;
    margin-left: 325px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    margin-top: 15px;
    margin-bottom: 22px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 211px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 15px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    margin: 13px 66px -169px 69px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 737px;
}

.u-section-2 .u-text-1 {
  font-size: 1.25rem;
  margin: 0 0 -29px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 26px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 829px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 161px;
    margin-bottom: 24px;
  }
}