.u-section-1 .u-sheet-1 {
  min-height: 425px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 18px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 407px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 303px;
  height: 320px;
  margin: 14px auto 0 59px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  margin: -191px 161px 0 615px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 26px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 365px;
  }

  .u-section-1 .u-image-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-text-1 {
    margin-right: 61px;
    margin-left: 515px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 411px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 15px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 396px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 20px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 25px;
    margin-left: 39px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -167px;
    margin-right: 7px;
    margin-left: 349px;
    font-size: 1.5rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 244px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: -156px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 400px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 0 10px 30px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 55px;
    margin-left: 15px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
    margin: -155px 0 -23px 333px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 170px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 20px;
    margin-bottom: -109px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 259px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-1 .u-image-1 {
    margin-top: 15px;
    margin-right: 2px;
  }

  .u-section-1 .u-text-1 {
    margin: 12px 64px -190px 69px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 623px;
}

.u-section-2 .u-text-1 {
  margin: 0 0 29px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 688px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 28px;
    margin-bottom: 28px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 852px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1038px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1548px;
  }
}